/* ---------- Root Variables ---------- */

:root {
    --rich-black: #001219;
    --blue-sapphire: #005F73;
    --viridian-green: #0A9396;
    --mid-blue-green: #94D2BD;
    --mid-blue-accent: #80bba7;
    --cornsilk: #F1FAEE;
    --orange: #FD850D;
    --orange-accent: #DE7002;
    --vermilion: #C62828;
    --vermillion-accent: #a71e11;
    --grey: #999999; 
}

/* ---------- General Styling ---------- */
body {
    font-family: 'Rubik', sans-serif;
    color: var(--rich-black);
    background-color: var(--cornsilk);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* ----- Form Input Text Color ----- */
.input-field .prefix ~ label {
    color: var(--rich-black);
}


/* ---------- Button Stylings ---------- */
.btn {
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    text-transform: initial;
    border-radius: 10px;
}

.btn-large {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    text-transform: initial;
    border-radius: 10px;
}

.edit-btn, 
.submit-btn, 
.add-btn {
    background-color: var(--orange);
}

.edit-btn:hover, 
.submit-btn:hover, 
.add-btn:hover {
    background-color: var(--orange-accent);
} 

.delete-btn, 
.cancel-btn, 
.reset-btn {
    background-color: var(--vermilion);
}

.delete-btn:hover, 
.cancel-btn:hover, 
.reset-btn:hover {
    background-color: var(--vermillion-accent);
}

.btn-floating {
    background-color: var(--vermilion);
    border-radius: 50px;
}

.btn-floating:hover {
    background-color: var(--vermillion-accent);
}

/* --- Scroll to top button --- */
.scrollToTop{
    font-weight: bold;
    text-decoration: none;
    position:fixed;
    bottom:40px;
    right:20px;
    display:none;
}

@media only screen and (max-width: 1000px){
    .edit-btn, 
    .submit-btn, 
    .add-btn {
    background-color: var(--orange);
    margin: 10px 0; 
    }
}



/* ----- what is this styling? ----- */
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ---------- Navbar Styling ----------  */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo{
    font-weight: 500;
    margin-left: 20px;
}

.sidenav-logo{
    font-weight: 500;
}

.nav {
    background-color: var(--blue-sapphire);
}

@media only screen and (max-width: 600px){
    .nav .brand-logo{
        font-size: 1.7em;
    }
}


/* ---------- Footer Stylings ---------- */
.page-footer {
    background-color: var(--blue-sapphire);
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li a i {
    font-size: 30px;
}


/* ---------- Home Page Styling ---------- */

.container {
    width: 100%
}

/* Landing Image and Text */

.landing {
    margin-top: 70px;
    margin-bottom: 50px;
}

.landing-text h1 {
    font-weight: 700;
}

.landing-text p {
    font-size: 16px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px){
    .landing {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    .landing-text {
        padding: 10px
    }
    
    .register-btn {
        margin-bottom: 40px;
    }
}


/* ---------- Profile Page Styling ---------- */
.profile-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-card-panel {
    margin: 0 10px;
}

.reviews-header {
    margin-top: 40px;
}


/* ---------- Flash Message Styling ---------- */

/* display height for flashed messages */
.flashes h4 {
    line-height: 2;
}


/* ----------- Resource Card/Panel Styling ---------- */
.home-card-panel {
    background-color: var(--grey);
}

.profile-card-panel {
    background-color: var(--grey);
}

.admin-card-panel {
    background-color: var(--grey);
}

.register-card-panel {
    background-color: var(--mid-blue-green);
}

.card {
    background-color: var(--mid-blue-green);
    padding: 10px;
}

.card-action {
    margin-top: 20px;
    padding-left: 10px;
}

.card label {
    color: var(--rich-black);
}


/* ---------- Admin Page Styling ---------- */

/* --- Modal styling ---- */

.modal {
    padding: 15px;
}

@media only screen and (max-width: 410px){
    /* add and manage categories buttons  */
    .add-c-btn,
    .manage-c-btn,
    /* add and manage topics buttons */
    .add-t-btn,
    .manage-t-btn {
        font-size: 7px;
    }

    /* add and manage categories icons  */
    div a .add-c-icon,
    div a .manage-c-icon,
    /* add and manage topics icons */
    div a .add-t-icon,
    div a .manage-t-icon {
        font-size: 1rem;
        margin-right: 10px;
    }
}


/* ---------- Error Handling ---------- */

/*--- 404 / 500 Handling --- */
.error-container {
    margin: 50px auto;
}

.register-icon {
    margin-right: 10px;
}


