/* ---------- Root Variables ---------- */

:root {
    --main-text: #303030;
    --ivory: #F1FAEE;
    --light-blue: #A8DADC;
    --mid-blue: #457B9D;
    --mid-blue-accent: #2e698d;
    --deep-blue: #1d3557;
    --orange: #FFB700;
    --orange-accent: #f89d0b;
    --red: #C62828;
    --red-accent: #9c2020;
    --black: #000; 
}

/* ---------- General Styling ---------- */
body {
    font-family: 'Rubik', sans-serif;
    color: var(--main-text);
    background-color: var(--ivory);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* ---------- Navbar Styling ----------  */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo{
    font-weight: 500;
    margin-left: 20px;
}

.sidenav-logo{
    font-weight: 500;
}

.nav {
    background-color: var(--mid-blue);
}

@media only screen and (max-width: 600px){
    .nav .brand-logo{
        font-size: 1.7em;
        }
    }

/* ---------- Home Page Styling ---------- */

.container {
    width: 100%
}

/* Landing Image and Text */

.landing {
    margin-top: 70px;
    margin-bottom: 50px;
}

.landing-text h1 {
    font-weight: 700;
}

.landing-text p {
    font-size: 16px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px){
    .landing {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .landing-text {
        padding: 10px
    }

    .btn {
        background-color: var(--orange);
        margin-bottom: 30px;
    }
}

/* ---------- Footer Stylings ---------- */
.page-footer {
    background-color: var(--mid-blue);
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}
   
/* ---------- Button Stylings ---------- */
.btn {
    background-color: var(--orange);
}

.btn:hover {
    background-color: var(--orange-accent);
}

.btn:focus {
    background-color: var(--orange-accent);
}
 
.btn-small {
    margin: auto 10px;
}

.btn-small-edit{
    background-color: var(--orange);
}

.btn-small-edit:hover {
    background-color: var(--orange-accent);
}

.btn-small-done{
    background-color: var(--mid-blue);
}

.btn-small-done:hover {
    background-color: var(--mid-blue-accent);
}

.edit-btn {
    margin-right: 20px;
}

.cancel-btn {
    background-color: var(--red);
    margin-left: 20px;
}

.cancel-btn:hover {
    background-color: var(--red-accent);
}

.edit-res-btn {
    background-color: var(--orange);
}

.edit-res-btn:hover {
    background-color: var(--orange-accent);
}

.delete-res-btn {
    background-color: var(--red);
}

.delete-res-btn:hover {
    background-color: var(--red-accent);
}

@media only screen and (max-width: 600px){
    .nav .brand-logo{
        font-size: 1.7em;
        }
    }

/* ---------- Flash Message Styling ---------- */

/* display height for flashed messages */
.flashes h4 {
    line-height: 2;
}

/* ----------- Resource Card Styling ---------- */
.card {
    background-color: var(--light-blue);
}

.card label {
    color: var(--main-text);
}
