{% extends "base.html" %}
{% block title%}404{% endblock %}

{% block content %}

	<div class="container error-container center-align">
		<div class="row">
			<div class="col sm12 m12 l12 xl12">
				<h3>Oops! Page not found</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			
				<h2>We are sorry, but the page you requested was not found.</h2>
				<a class="btn edit-btn" href="{{ url_for('index') }}">Take me somewhere safe!</a>
			</div>
		</div>
	</div>

{% endblock %}