{% extends "base.html" %}
{% block content %}

    <h2 class="resource-header center-align">Add Resource</h2>


    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <input id="resource_name" name="resource_name" type="text" class="validate" required>
                    <label for="resource_name">Resource Title</label>
                </div>
            </div>
            
            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">folder_open</i>
                    <select class="category_name validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name}}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Resource Category</label>
                </div>
            </div>

            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">chat</i>
                    <select class="resource_topic validate" required>
                        <option value="" disabled selected>Choose Topic</option>
                        {% for topic in topics %}
                            <option value="{{ topic.topic_name }}">{{ topic.topic_name }}</option>
                        {% endfor %}                        
                    </select>
                    <label for="resource_topic">Resource Topic</label>
                </div>
            </div>

            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">date_range</i>
                    <input id="date_added" name="date_added" type="text" class="datepicker validate" required>
                    <label for="date_added">Date Added</label>
                </div>
            </div>
            
            <div class="row card resource-card">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <textarea id="resource_description" class="materialize-textarea validate" 
                            minlength="5" maxlength="200" required ></textarea>
                            <label for="resource_description">Description</label>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>


{% endblock %}