{% extends "base.html" %}
{% block content %}

<div class="container">
    
    <div class="row resource-header">
        <div class="col s12 m12 l12">
            <h2 class="center-align">Add Resources</h2>
        </div>
    </div>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_resource') }}">
            
            <!----- Resource title Card ----->
            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <input id="resource_name" name="resource_name" type="text" class="validate" required>
                    <label for="resource_name">Resource Title</label>
                </div>
            </div>

            <!----- Resource Category Card ----->
            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">folder_open</i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Resource Category</label>
				</div>
			</div>

            <!----- Resource Topic Card ----->
            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">chat</i>
                    <select id="resource_topic" name="resource_topic" class="validate" required>
                        <option value="" disabled selected>Choose Topic</option>
                        {% for topic in topics %}
                            <option value="{{ topic.topic_name }}">{{ topic.topic_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="resource_topic">Resource Topic</label>
                </div>
            </div>

            <!----- Date Added Card ----->
            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">date_range</i>
                    <input id="date_added" name="date_added" type="text" class="datepicker validate" required>
                    <label for="date_added">Date Added</label>
                </div>
            </div>

            <!----- Resource Description Card ----->
            <div class="row card resource-card">                
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                        <textarea name="resource_description" id="resource_description" class="materialize-textarea validate" minlength="5"
                            maxlength="500" required></textarea>
                    <label for="resource_description">Description</label>
                </div>                
            </div>
            
            <!----- Resource Link Card ----->
            <div class="row card resource-card">
                <div class="input-field col s12">
                    <i class="material-icons prefix">add_link</i>
                    <input id="resource_link" name="resource_link" type="text" class="validate" required>
                    <label for="resource_link">Resource Link</label>
                </div>
            </div>

            <!----- Submit Button ----->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large add-btn waves-effect waves-light" type="submit">Add Resource
                        <i class="material-icons right">add_circle_outline</i>
                    </button>
                </div>
            </div>
        </form>        
    </div>
</div>

{% endblock %}