{% extends "base.html" %}
{% block content %}

    <div class="container page-header-container ">
        <div class="row page-header-row">
            <div class="col s12 m12 l12 ">
                <h3 class=" page-h center-align">Manage Resources - Admin Dashboard</h3>
            </div>
        </div>
    </div>

    <!-- Add Category and Topic Cards -->
    <div class="container">
        <div class="card-panel admin-card-panel">
            <div class="row page-header-row">
                <div class="col s12 m12 l12 ">
                    <h4 class=" page-h center-align">Category Management</h4>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12 l6 xl6">
                    
                    <!-- Add a Category Function -->
                    <div class="card category-card">
                        <div class="card-content">
                            <!-- Modal Trigger -->
                            <a class="btn-floating btn waves-effect waves-light modal-trigger right"
                            href="#category-modal"><i class="material-icons">question_mark</i></a>

                            <!-- Modal Structure -->
                            <div id="category-modal" class="modal">
                                <div class="modal-content">
                                    <h4>Choosing a Category</h4>
                                    <p>A "Category" can be anything from an Event, an Application or a piece of Software, that the user can link to!</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                            <h4 class="card-title">Add a New Category</h4>
                            <p>Here you can add to the available Categories.</p>
                            <div class="card-action center">
                                <a class="btn add-btn add-c-btn" href="{{ url_for('add_category') }}">
                                    <i class="material-icons left add-c-icon">add_circle_outline</i>Add Categories
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6 xl6">
                    <div class="card category-card">
                        <div class="card-content">
                            <h4 class="card-title">Manage Existing Categories</h4>
                            <p>Here you can edit or delete the currently avaialble Categories.</p>
                            <div class="card-action center">
                                <a class="btn edit-btn manage-c-btn" href="{{ url_for('get_categories') }}">
                                    <i class="material-icons left manage-c-icon">edit</i>Manage Categories
                                </a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-panel admin-card-panel">
            <div class="row page-header-row">
                <div class="col s12 m12 l12 ">
                    <h4 class=" page-h center-align">Topic Management</h4>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12 l6 xl6">
                    <!-- Add a Topic Function -->
                    <div class="card topic-card">
                        <div class="card-content">
                            <!-- Modal Trigger -->
                            <a class="btn-floating btn waves-effect waves-light modal-trigger right"
                            href="#topic-modal"><i class="material-icons">question_mark</i></a>

                            <!-- Modal Structure -->
                            <div id="topic-modal" class="modal">
                                <div class="modal-content">
                                    <h4>Choosing a Topic</h4>
                                    <p>A "Topic" can be anything from Development, UI, UX or Design!</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                            <h4 class="card-title">Add a New Topic</h4>
                            <p>Here you can add to the available Topics.</p>
                            <div class="card-action center">
                                <a class="btn add-btn add-t-btn" href="{{ url_for('add_topic') }}">
                                    <i class="material-icons left add-t-icon">add_circle_outline</i>Add Topics
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col s12 m12 l6 xl6">
                    <div class="card topic-card">
                        <div class="card-content">
                            <h4 class="card-title">Manage Topics</h4>
                            <p>Here you can edit or delete the currently available Topics.</p>
                            <div class="card-action center">
                                <a class="btn edit-btn manage-t-btn" href="{{ url_for('get_topics') }}">
                                    <i class="material-icons left manage-t-icon">edit</i>Manage Topics
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}