{% extends "base.html" %}
{% block content %}

    <div class="landing valign-wrapper">
        <div class="row">
            <!-- landing text -->
            <div class="landing-text">
                <div class="col s12 m12 l6 xl6 center">
                    <h1 class="header">Tech Growth Mindset</h1>
                    <p class="light">A Technical and Professional Growth site, giving users access to content and resources
                        in Technology and Professional & Personal Development!</p>
                    <a href="{{ url_for('register') }}" class="btn-large register-btn submit-btn waves-effect waves-light">
                        <i class="fas fa-user-plus register-icon"></i>Register
                    </a>
                </div>
            </div>
            <div class="landing-img">
                <div class="col s12 m12 l6 xl6 center">
                    <img src="../static/images/artificial-intelligence.png" alt="home-image" class="responsive-img">
                </div>
            </div>
        </div>
    </div>

    <div class="section content-section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4 l4 xl4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons medium">menu_book</i></h2>
                    <h5 class="center">Create & Add Your Own New Resources</h5>
                    <br>
                    <p class="light">Create and build links to your own favourite Technology or Personal & Professional Development resources, for sharing with the community.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons medium">group</i></h2>
                    <h5 class="center">View Resources Submitted By The Community</h5>
                    <br>
                    <p class="light">Create and build your own favourite resources to share with the community.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons medium">settings</i></h2>
                    <h5 class="center">Quickly & Easily Manage Your User Account</h5>
                    <br>
                    <p class="light">Take control of your user account. Update your user details and manage your own resources.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Weekly Featured Resources Section -->
    <section class="container featured-resources">
        {% if resources|length > 0 %}
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <h2 class="header profile-header center">Weekly Featured Resources</h2>
                </div>
            </div>

            <div class="row">
                {% for resource in resources if resource.weekly_featured == "on" %}
                    <div class="col s12 m12 l6">
                        <div class="card">
                            <div class="card-content">

                                <!-- resource title -->
                                <div class="row">
                                    <div class="col s12 m12 l12 xl12">
                                        <h3 class="resource-name">{{ resource.resource_name }}</h3>
                                    </div>
                                </div>

                                <!-- list for category, topic and date added -->
                                <ul>
                                    <li class="category-name">Category: {{ resource.category_name }}</li>
                                    <li class="resource-topic">Topic: {{ resource.resource_topic }}</li>
                                    <li class="date-added">Date added: {{ resource.date_added }}</li>
                                </ul>

                                <p class="resource-description">{{ resource.resource_description }}</p>
                                <!-- link to resource -->
                                <a href="{{ resource.resource_link }}" target="_blank">Link to resource</a>

                                <p><em>Added by: {{ resource.created_by }}</em></p>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

{% endblock%}