{% extends "base.html" %}
{% block content %}

    {% for resource in resources %}
        {{ resource.resource_name }} <br>
        {{ resource.category_name }} <br>
        {{ resource.resource_topic }} <br>
        {{ resource.resource_description }} <br>
        {{ resource.date_added }} <br>
    {% endfor %}

    
    <div class="card">
        <div class="card-content">
            <span class="card-title activator">Resource Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Visit Resource</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title activator">Resource Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Visit Resource</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title activator">Resource Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Visit Resource</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
{% endblock %}
