{% extends "base.html" %}
{% block content %}

    <div class="row resource-header center-align">
        <div class="col s12 m12 l12">
            <h2>Resources</h2>
        </div>
    </div>

    <div class="row">
        <div class="col s12 center">
            <a class="btn btn-large" href="{{ url_for('add_resource')}}">Add New Resource</a>
        </div>       
    </div>
    

    {% for resource in resources %}
        <div class="row">           
            <div class="col s12 m12 l12 xl12">                                      
                <div class="card">
                    <div class="card-content">

                        <!-- resource title -->
                        <div class="row">
                            <div class="col s8 m8 l8 xl8">
                                <h3 class="resource-name">{{ resource.resource_name }}</h3>
                            </div>                            
                        </div>                       

                        <!-- list for category, topic and date added -->
                        <ul>
                        <li class="category-name">Category: {{ resource.category_name }}</li>
                        <li class="resource-topic">Topic: {{ resource.resource_topic }}</li>
                        <li class="date-added">Date added: {{ resource.date_added }}</li>
                        </ul>

                        <p class="resource-description">{{ resource.resource_description }}</p>
                        <!-- link to resource -->
                        <a href="{{ resource.resource_link }}" target="_blank">Link to resource</a>

                        <p><em>Added by: {{ resource.created_by }}</em></p>

                        {% if session.user|lower == resource.created_by|lower %}
                        <div class="row">
                            <div class="col s12 l6 center-align">
                                <a href="{{ url_for('edit_resource', resource_id=resource._id) }}" 
                                    class="waves-effect waves-light btn-small edit-res-btn">
                                        <i class="material-icons left">edit_note</i>Edit Resource</a>
                            </div>
                            <div class="col s12 l6 center-align">
                                <a href="{{ url_for('delete_resource', resource_id=resource._id) }}" 
                                    class="waves-effect waves-light btn-small delete-res-btn">
                                        <i class="material-icons left">cancel_presentation</i>Delete Resource</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>                                         
            </div>           
        </div>
    {% endfor %}

{% endblock %}